* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;

  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.prompt {
  font-family: "Borel";
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(44, 177, 177);
}

.container {
  background-color: rgba(255, 255, 255, 0.699);
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  gap: 10px;
  border: 5px solid #ffc0cb;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
}

img {
  padding: 8px;
  /* width: 100%;
  height: auto;
  max-width: 400px; */
  /* max-height: 400px; */
  height: 12cm;
  width: 10cm;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}

/* Responsive cho màn hình nhỏ */
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  .prompt {
    font-size: 1.2rem;
  }

  img {
    max-width: 300px;
    max-height: 400px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .prompt {
    font-size: 1rem;
  }

  img {
    max-width: 250px;
    max-height: 350px;
  }
}
